<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hrms_team1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DiagnosisController</display-name>
    <servlet-name>DiagnosisController</servlet-name>
    <servlet-class>com.hms.controller.DiagnosisController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnosisController</servlet-name>
    <url-pattern>/DiagnosisController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>diagnosisBO</display-name>
    <servlet-name>diagnosisBO</servlet-name>
    <servlet-class>com.hms.bo.diagnosisBO</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddPhyBO</display-name>
    <servlet-name>AddPhyBO</servlet-name>
    <servlet-class>com.addphysician.AddPhyBO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhyBO</servlet-name>
    <url-pattern>/AddPhyBO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>diagnosisBO</servlet-name>
    <url-pattern>/diagnosisBO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillDetailsController</display-name>
    <servlet-name>BillDetailsController</servlet-name>
    <servlet-class>com.hms.controller.BillDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillDetailsController</servlet-name>
    <url-pattern>/BillDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>abc12</display-name>
    <servlet-name>abc12</servlet-name>
    <servlet-class>com.hms.controller.abc12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc12</servlet-name>
    <url-pattern>/abc12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.log.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchPhyCon</display-name>
    <servlet-name>SearchPhyCon</servlet-name>
    <servlet-class>com.hms.controller.SearchPhyCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPhyCon</servlet-name>
    <url-pattern>/SearchCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.hms.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientController</display-name>
    <servlet-name>ViewPatientController</servlet-name>
    <servlet-class>com.hms.controller.ViewPatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientController</servlet-name>
    <url-pattern>/ViewPatientController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PatientCont</display-name>
    <servlet-name>PatientCont</servlet-name>
    <servlet-class>com.hms.controller.PatientCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientCont</servlet-name>
    <url-pattern>/PatientCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhyCon</display-name>
    <servlet-name>AddPhyCon</servlet-name>
    <servlet-class>com.hms.controller.AddPhyCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhyCon</servlet-name>
    <url-pattern>/AddPhyCon</url-pattern>
  </servlet-mapping>
</web-app>